node_modules/
apps/*/node_modules/
packages/*/node_modules/
.DS_Store
npm-debug.log*
.env
.svelte-kit/
build/
dist/
apps/frontend/.svelte-kit/
apps/frontend/build/
apps/frontend/dist/
apps/frontend/prisma/dev.db
